h1{
    background-color: aqua;
}
.flex-child1{
    background-color: red;
   
}

.flex-child2{
    background-color: pink;
}
.flex-child3{
    background-color: aqua;
}
div{
    font-size: 50px;
   

}
.flex-container{
    display: flex;
    
    
}